---
http_interactions:
- request:
    method: get
    uri: https://login.microsoftonline.com/<AZURE_TENANT_ID>/oauth2/token
    body:
      encoding: UTF-8
      string: resource=https%3A%2F%2Fmanagement.core.windows.net%2F&client_id=<AZURE_CLIENT_ID>&client_secret=<AZURE_CLIENT_SECRET>&grant_type=client_credentials
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":"3600","ext_expires_in":"0","expires_on":"1476474056","not_before":"1476470156","resource":"https://management.core.windows.net/","access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Fri, 14 Oct 2016 18:40:56 GMT
- request:
    method: put
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourcegroups/RubySDKTest_azure_mgmt_service_bus?api-version=2016-02-01
    body:
      encoding: UTF-8
      string: '{"location":"westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    body:
      encoding: UTF-8
      string: '{"id":"/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_service_bus","name":"RubySDKTest_azure_mgmt_service_bus","location":"westus","properties":{"provisioningState":"Succeeded"}}'
  recorded_at: Fri, 14 Oct 2016 18:40:57 GMT
- request:
    method: put
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_service_bus/providers/Microsoft.ServiceBus/namespaces/smaple34566?api-version=2015-08-01
    body:
      encoding: UTF-8
      string: '{"location":"westus","properties":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_service_bus/providers/Microsoft.ServiceBus/namespaces/smaple34566","name":"smaple34566","type":"Microsoft.ServiceBus/namespaces","location":"West
        US","kind":"Messaging","tags":null,"properties":{"provisioningState":"Unknown","metricId":"<AZURE_SUBSCRIPTION_ID>:smaple34566","enabled":false,"namespaceType":"Messaging","messagingSku":2}}'
  recorded_at: Fri, 14 Oct 2016 18:40:58 GMT
- request:
    method: get
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_service_bus/providers/Microsoft.ServiceBus/namespaces/smaple34566?api-version=2015-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-reads:
      - '14999'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_service_bus/providers/Microsoft.ServiceBus/namespaces/smaple34566","name":"smaple34566","type":"Microsoft.ServiceBus/namespaces","location":"West
        US","kind":"Messaging","sku":{"name":"Standard","tier":"Standard","capacity":1},"tags":{},"properties":{"provisioningState":"Succeeded","metricId":"<AZURE_SUBSCRIPTION_ID>:smaple34566","status":"Active","createdAt":"2016-10-14T18:40:57.837Z","serviceBusEndpoint":"https://smaple34566.servicebus.windows.net:443/","enabled":true,"critical":false,"updatedAt":"2016-10-14T18:41:21.77Z","eventHubEnabled":true,"namespaceType":"Messaging","messagingSku":2}}'
  recorded_at: Fri, 14 Oct 2016 18:41:29 GMT
- request:
    method: get
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/providers/Microsoft.ServiceBus/namespaces?api-version=2015-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-reads:
      - '14999'
    body:
      encoding: ASCII-8BIT
      string: '{"value":[{"id":"/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_service_bus/providers/Microsoft.ServiceBus/namespaces/smaple34566","name":"smaple34566","type":"Microsoft.ServiceBus/namespaces","location":"West
        US","kind":"Messaging","sku":{"name":"Standard","tier":"Standard","capacity":1},"tags":{},"properties":{"provisioningState":"Succeeded","metricId":"<AZURE_SUBSCRIPTION_ID>:smaple34566","status":"Active","createdAt":"2016-10-14T18:40:57.837Z","serviceBusEndpoint":"https://smaple34566.servicebus.windows.net:443/","enabled":true,"critical":false,"updatedAt":"2016-10-14T18:41:21.77Z","eventHubEnabled":true,"namespaceType":"Messaging","messagingSku":2}}],"nextLink":null}'
  recorded_at: Fri, 14 Oct 2016 18:41:29 GMT
- request:
    method: delete
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_service_bus/providers/Microsoft.ServiceBus/namespaces/smaple34566?api-version=2015-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
  response:
    status:
      code: 202
      message: 
    headers:
      location:
      - https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_service_bus/providers/Microsoft.ServiceBus/namespaces/smaple34566/operationresults/smaple34566?api-version=2015-08-01
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 14 Oct 2016 18:41:30 GMT
- request:
    method: get
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourceGroups/RubySDKTest_azure_mgmt_service_bus/providers/Microsoft.ServiceBus/namespaces/smaple34566/operationresults/smaple34566?api-version=2015-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
  response:
    status:
      code: 200
      message: 
    headers:
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-reads:
      - '14993'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 14 Oct 2016 18:42:01 GMT
- request:
    method: delete
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/resourcegroups/RubySDKTest_azure_mgmt_service_bus?api-version=2016-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
  response:
    status:
      code: 202
      message: 
    headers:
      location:
      - https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SVUJZU0RLVEVTVDo1RkFaVVJFOjVGTUdNVDo1RlNFUlZJQ0U6NUZCVVMtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-02-01
      retry-after: '1'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 14 Oct 2016 18:42:01 GMT
- request:
    method: get
    uri: https://management.azure.com/subscriptions/<AZURE_SUBSCRIPTION_ID>/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SVUJZU0RLVEVTVDo1RkFaVVJFOjVGTUdNVDo1RlNFUlZJQ0U6NUZCVVMtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-02-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
  response:
    status:
      code: 200
      message: 
    headers:
      x-ms-ratelimit-remaining-subscription-reads:
      - '14992'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 14 Oct 2016 18:43:01 GMT
recorded_with: VCR 3.0.3
